header {
  background-image: url(images/fond_decran.png);
  position: absolute;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}
h1 {
  text-align: center;
  vertical-align: center;
  font-family: 'refinery-25-semi-bold', sans-serif;
  font-size: 30px;
  color: white;
}
table {
}
