header {
  background-image: url(images/ballon.png);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
  color: white;
}
